.container {
  background-color: #688722;
  width: 100%;
  display: grid;
  justify-items: center;
  padding: 30px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  padding: 30px;
  width: min(100vw - 2em, 600px);
  background-color: rgba(0, 0, 0, 0.4);
  color: #DDE2EC;
  height: 100%;
}

.menu-item {
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
