html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

#content {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto auto auto auto 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #14110E;
  color: #EEEEEE;
}

.nav-right {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-right .link {
  flex: auto;
  border-bottom: 3px solid transparent;
}

.nav-right .link:hover {
  border-bottom: 3px solid #71C639;
}

.welcome, .fresh, .discount, .custom {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
  height: auto;
}

.welcome-container, .fresh-container, .discount-container, .custom-container {
  color: white;
  font-size: 1.4em;
  padding: 1em;
}

.welcome-container {
  background-color: #072206;
}

.fresh-container {
  background-color: #22061B;
}

.discount-container {
  background-color: #201D11;
}

.custom-container {
  background-color: #35160E;
}

.welcome-text, .fresh-text, .custom-text, .discount-text {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.welcome-text, .fresh-text, .custom-text {
  align-items: center;
}

.welcome-text:after, .discount-text:after, .fresh-text:after, .custom-text:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}

.welcome-text:after, .discount-text:after {
  top: -5px;
  right: -5px;
  border-top: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
}

.fresh-text:after, .custom-text:after {
  top: -5px;
  left: -5px;
  border-top: 3px solid lightgrey;
  border-left: 3px solid lightgrey;
}

.welcome-text:before, .discount-text:before, .fresh-text:before, .custom-text:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}

.welcome-text:before, .discount-text:before {
  bottom: -5px;
  left: -5px;
  border-bottom: 3px solid lightgrey;
  border-left: 3px solid lightgrey;
}

.fresh-text:before, .custom-text:before {
  bottom: -5px;
  right: -5px;
  border-bottom: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
}

.discount-text p {
  align-self: center;
  margin-top: auto;
}

.discount-button {
  align-self: end;
  justify-self: end;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid lightgrey;
  color: white;
  font-size: 1.3em;
  padding: 0.5em 1em;
  outline: none;
  margin-right: -23px;
  margin-bottom: -23px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #14110E;
  color: #EEEEEE;
}
